h1 {
  border-bottom: 1px solid #DDD;
  text-align: center;
}

.hidden {
  display: none;
}

p#message {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

p#note {
  margin-top: 2rem;
  font-size: 0.75em;
}
